<header id="homeNavbar" class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class="container">
			<%= link_to "Revyt", home_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li> <a href="#Revyt"> Welcome to Revyt </a> </li>
					<li> <a href="#"> One thing </a> </li>
					<li> <a href="#"> Another thing </a> </li>
				</ul>
			</nav>
		</div>
	</div>

	<section class="hero-unit">
		<div class="container">
			<div class="row">
				<div class="span7">
					
				</div>
				<div class="span5">
					<%= image_tag("dummy-iphone.png", alt: "Placeholder")%>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="span12 text-center">
					<a href="https://twitter.com/revyt1"><span class="footer-icon twitter-icon">&nbsp;</span></a>
					<a href="https://facebook.com/revyt"><span class="footer-icon facebook-icon">&nbsp;</span></a>
					<a href="mailto:support@revyt.com?subject=Service Request"><span class="footer-icon email-icon">&nbsp;</span></a>
			</div>
			<div class="row span12 text-center">
				<small> &copy; <a href="#">Revyt</a> 2013</small>
			</div>
		</div>
	</footer> <!-- end footer -->
</header>