<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class="container">
			<%= link_to "Revyt", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li> <a href="#Revyt"> Welcome to Revyt </a> </li>
					<li> <a href="#"> My Revyt </a> </li>
				</ul>
			</nav>
		</div>
	</div>
</header>