<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="hero-unit">
		<div class="container">
			<div class = "hero-unit-inner">
				<img src = "assets/pseudo-logo.png"
			</div>
			<div class="hero-unit-inner">
				<h1> Your day, built around friends. </h1>
				<h4> Make the events, keep the memories. </h4>
				<h2> Sign up to become a beta tester. </h2>
				<a href = "#" class = "btn"> Get me started! </a>
				<small>
					Revyt does not disclose your personal information.
					<a href = "#"> Privacy Statement </a>
				</small>
			</div>
		</div>

	</div>

</body>
</html>