<div class="container navbar">
	<div class="navbar-inner">
		<a href = "/" class="brand">
			<img src="assets/pseudo-logo.png">
		</a>
	</div>
</div>
<section class="hero-unit">
	<div class="container-fluid" style="padding-bottom: 60px;">
		<div class="row-fluid">
			<div class="span12">
				<div class="hero-unit-inner text-left">
					<h1> Thank you for signing up! </h1>
					<h2>
						Our team at Revyt is excited to have you join the Revyt community. We're working hard to bring you the first truly social calendar, and when Revyt launches its beta, you'll be the first to know about it!
					</h2>
					<h2>
						To keep up to date about our progress, follow us on <a href="https://facebook.com/revyt">Facebook</a> and <a href="https://twitter.com/revyt1">Twitter</a>.
					</h2>
				</div> <!-- end hero-unit-inner -->
			</div>
		</div>
	</div>
</section> <!-- end hero-unit -->

<footer>
	<div class="container">
		<div class="row">
			<div class="span12 text-center">
				<a href="https://twitter.com/revyt1"><span class="footer-icon twitter-icon">&nbsp;</span></a>
				<a href="https://facebook.com/revyt"><span class="footer-icon facebook-icon">&nbsp;</span></a>
				<a href="mailto:support@revyt.com?subject=Service Request"><span class="footer-icon email-icon">&nbsp;</span></a>
		</div>
		<div class="row span12 text-center">
			<small> &copy; <a href="#">Revyt</a> 2013</small>
		</div>
	</div>
</footer> <!-- end footer -->
					