<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your interest!</h1>
    <p>
      Our team at Revyt is working hard to bring you the first truly social calendar. When Revyt launches its beta, you'll be the first to know about it! <br/>
    </p>
    <p>
      To keep up to date about our progress, follow us on <a href="https://facebook.com/revyt">Facebook</a> and <a href="https://twitter.com/revyt1">Twitter</a>.
    </p>
    <p>Thanks again, and have an excellent day!</p>
  </body>
</html>