@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Allerta);

/** navbar **/
.navbar {
	padding-top: 50px;
	margin-bottom: 0px;
}

.navbar-inner {
	height: 120px;
	margin-left: -20px;
	background: transparent;
	box-shadow: none;
	border:none;
}

/** end navbar **/


.hero-unit {
	background: #53ace9;
	padding-bottom: 0px;
	color: white;
	h1 {
		font-family: allerta;
		font-size: 2em;
		font-weight: 400;
		line-height: 1.3em;
	}
	h2 {
		font-family: droid+sans;
		font-size: 1.5em;
		font-weight: 400;
	}
	h4 {
		font-family: droid+sans;
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.3em;
	}
}

form {
	margin-bottom: 0px;
}

.btn {
	font-family: droid+sans;
	font-weight: 700;
	background: #ffa601;
	color: white;
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	&:hover {
		background: #ffd801;
		color: white;
	}
}