@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Allerta);

/*** LANDING PAGE ***/

/** navbar **/
.navbar {
	padding-top: 50px;
	padding-left: 60px;
	margin-bottom: 0px;
}

.navbar-inner {
	height: 120px;
	margin-left: -20px;
	padding-left: 0px;
	background: transparent;
	box-shadow: none;
	border:none;
}


/** end navbar **/

/** main body **/
.hero-unit {
	background: #53ace9;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: white;
	h1 {
		font-family: allerta;
		font-size: 2em;
		font-weight: 400;
		line-height: 1.3em;
	}
	h2 {
		font-family: droid+sans;
		font-size: 1.5em;
		font-weight: 400;
		padding-bottom: 10px;
		.btn-group {
			display: inline-block;
		}
	}
	h4 {
		font-family: droid+sans;
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.3em;
	}
}

.input-xlarge {
	width: 330px;
	margin-right: 10px;
}

input[type="email"] {
	height:30px;
}

input[type="text"] {
	height:30px;
}

.move-up {
	margin-top: -205px;
}

.btn {
	font-family: droid+sans;
	font-weight: 700;
	background: #ffa601;
	color: white;
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	&:hover {
		background: #ffd801;
		color: white;
	}
}

/** end main body **/


/** modal **/
.modal {
	color: black;
	.modal-header {
		background: #ffa601;
		color: white;
	}
}

/** end modal **/


/** footer **/
.footer-icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: transparent url('contact-buttons.png') no-repeat;
	margin: 60px 10px;

}

.twitter-icon {
	background-position: 0px 0px;
	&:hover {
		background: transparent url('contact-buttons.png') no-repeat;
		background-position: -300px 0px;
	}
}
.facebook-icon {
	background-position: -100px 0px;
	&:hover {
		background: transparent url('contact-buttons.png') no-repeat;
		background-position: -400px 0px;
	}
}

.email-icon {
	background-position: -200px 0px;
	&:hover {
		background: transparent url('contact-buttons.png') no-repeat;
		background-position: -500px 0px;
	}
}

/** end footer **/


/** forms **/
#error_explanation {
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

/** end forms **/




/*** USER PAGES ***/

/* sidebar */
aside {
	section {
		padding: 10px 0;
		border-top: 1px solid;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
  float: left;
  margin-right: 10px;
}




/* miscellaneous */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



