<footer>
	<div class="container">
		<div class="row">
			<div class="span12 text-center">
				<a href="https://twitter.com/revyt1"><span class="footer-icon twitter-icon">&nbsp;</span></a>
				<a href="https://facebook.com/revyt"><span class="footer-icon facebook-icon">&nbsp;</span></a>
				<a href="mailto:support@revyt.com?subject=Service Request"><span class="footer-icon email-icon">&nbsp;</span></a>
		</div>
		<div class="row span12 text-center">
			<small> &copy; <a href="#">Revyt</a> 2013</small>
		</div>
	</div>
</footer> <!-- end footer -->